.queue-info {
    z-index: 100;
    position: fixed;
    background-color: #efddff;
    opacity: 0.8;
    height: 40px;
    width: calc(100% - 90px);
    bottom: 70px;
}

.queue-container {
    background-color: rgb(36, 14, 36);
    position: fixed;
    bottom: 70px;
    margin: 0;
    padding: 0;
    left: 90px;
    width: calc(100% - 90px);
    height: calc((100% - 320px));
    overflow-y: auto;
    overflow-x: hidden;
}

.queue-container::-webkit-scrollbar {
    width: 15px;
    background-color: rgb(36, 14, 36);
}
.queue-container::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #EA8D8D, #A890FE);
    border-radius: 0.5em;
}

.thumbnails {
    position: relative;
    --h: 40px;
    border-radius: 1em;
    margin: 5px;
    height: var(--h);
    left: 5px;
}

.queue {
    /* background: linear-gradient(90deg, rgb(105, 74, 131), rgb(175, 175, 175)); */
    /* background-color: rgb(133, 96, 163); */
    position: relative;
    margin-left: 10px;
    padding: 7px;
    left: 10px;
    width: calc(100% - 30px);
    height: 47px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

.queue:last-child {
    border-bottom: 0px
}

@keyframes disappear {
    from {

        padding: 5px;
        height: 50px;
        color: white;
    }
    to {
        font-size: 0;
        padding: 0px;
        height: 0px;
        margin: 0px;
        color: transparent;
    }
}

.queue.disappear {
    height: 0px;
    margin: 0px;
    animation: disappear;
    animation-duration: 0.5s;
}

.queue.disappear > span {
    font-size: 0;
    animation: disappear;
    animation-duration: 0.5s;
}

.queue.disappear > img {
    height: 0px;
    animation: disappear;
    animation-duration: 0.5s;
}

.queue > span {
    color: white;
    position: relative;
    font-weight: 500;
    margin: 10px;
    left: 15px;
}